@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway/Raleway-VariableFont_wght.ttf');
}

body{
    font-family: 'Raleway';
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

.full{
    color: #0065FC;
}

.empty{
    color: #cccccc;
}

/* ------------------------------- Header -----------------------------------*/

header{
    white-space: nowrap;
}

.topheader{
    display: flex;
    justify-content: space-between;
}

.topheader img{
    width: 100px;
    height: 50px;
    padding: 25px;
}

.topright{
    display: flex;
}

.topright a{
    box-sizing: content-box;
    padding: 40px;
    font-size: 15px;
    border-top: 2px white solid;
}

.topright a:hover{
    color: #0065FC;
    border-top : 2px #0065FC solid;
}

h1{
    font-size: 22px;
    margin: 30px 20px 0 20px;
}

h1 + p{
    font-size: 15px;
    margin: 12px 20px 30px 20px;
}

form{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

input{
    border: #F2F2F2 1px solid;
    text-indent: 10px;
    width: 235px;
}

.icon{
    min-width: 50px;
    width: 50px;
    height: 50px;
    background: #F2F2F2;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    border-radius: 12px 0 0 12px;
}

form input::placeholder{
    color: black;
    opacity: 1;
    font-size: 17px;
    font-weight: bold;
}

form input{
    font-size: 15px;
    font-weight: bold;
}

.button-mobile{
    display: none;
}

.button-desktop{
    font-size: 16px;
    background-color: #0065FC;
    border: none;
    color: white;
    width: 120px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 0 12px 12px 0;
}

.filtre{
    margin: 35px 20px 0 20px;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    position: relative;
}

.filtre i{
    color: #0065FC;
}

.filtre ul{
    display: flex;
    gap: 20px;
    padding: 0;
    flex-wrap: wrap;
}

.filtre ul li{
    display: flex;
}

.filtre ul li a{
    border: #d3d3d3 solid 2px;
    border-radius: 99px 99px 99px 99px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    height: 40px;
}

.filtre div{
    width: 43px;
    height: 43px;
    background: #DEEBFF;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    line-height: 43px;
    border-radius: 99px 99px 99px 99px;
    position: relative;
    right: 3px;
}

.filtre ul p{
    margin: 0 10px;
}

.info-i{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0 10px 12px;
}

.info-i i{
    color: #002cf1;
    border: 2px #f2f2f2 solid;
    border-radius: 99px;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
}

.info-i p{
    font-size: 15px;
}

/* ----------------------------- Hébergement à Marseille -----------------------------------*/

.one{
    margin-top: 30px;
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
}

.title-card{
    padding: 22px 0px;
    background-color: #f2f2f2;
}

.card-row{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    min-width: 775px;
    max-width: 775px;
    margin: auto;
}

.card-hebergement{
    background-color: white;
    box-shadow: 5px 5px 15px #999;
    width: 250px;
    border-radius: 20px;
}

.card-row a{
    display: block;
}

.card-row .card-image{
    margin: auto;
    padding-top: 5.5px;
    width: 239px;
    height: 115px;
    text-align: center;
}

.card-row .card-image img{
    width: 239px;
    height: 115px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

h2{
    font-size: 22px;
    margin: 0 0 25px 20px;
}

.card-body{
    box-sizing: border-box;
    padding: 5px 15px;
}

.card-name h3{
    font-size: 16px;
    margin: 3px 0 5px 0;
}

.card-price p{
    font-size: 14px;
    margin: 0 0 8px 0;
}

.card-stars{
    font-size: 12px;
    margin-bottom: 5px;
}


.title-card > p{
    margin: 35px 0 0 20px;
    font-size: 18px;
    font-weight: bolder;
}

.hebergement{
    flex: 2 1 auto;
}

.populaires{
    flex: 1 1 auto;
}

/* ----------------------------- Les plus populaires -----------------------------------*/

.title-star{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.title-star i{
    font-size: 20px;
    margin-bottom: 25px;
}

.card-column{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    min-width: 775px;
    max-width: 775px;
    justify-content: center;
    margin: auto;
}

.card-populaire{
    background-color: white;
    box-shadow: 5px 5px 15px #999;
    width: 250px;
    border-radius: 20px;
}

.card-column a{
    display: block;
}

.card-column .card-image{
    margin: auto;
    padding-top: 5.5px;
    width: 239px;
    height: 115px;
    text-align: center;
}

.card-column .card-image img{
    width: 239px;
    height: 115px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

/*----------------------------activités à Marseille-------------------------------*/

.two{
    margin: 50px 0px 0 0px;
}

.two h2{
    text-align: center;
    margin: 0 0 30px 0;
}

.activite{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 670px;
    margin: auto;
}

.item-activite{
    height: 100%;
    width: 305px;
    border-radius: 24px 24px 20px 20px;
    box-shadow: 5px 5px 15px #999;
}

.item-activite:nth-child(2){
    height: 270.6px;
}

.item-activite:nth-child(3){
    height: 270.6px;
}

.item-activite:nth-child(5){
    height: 270.6px;
}

.item-activite:nth-child(6){
    height: 270.6px;
}

.item-activite img{
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
    height: 220.6px;
}

.activite h3{
    font-size: 16px;
    margin: 12px 0 16px 15px;
}

/*---------------------------------------------Footer---------------------------------*/

footer{
    margin-top: 75px;
    background: #F2F2F2;
    display: flex;
    gap: 80px;
    width: 100%;
    height: 218px;
    min-width: 768px;
    max-width: 992px;
}

.item-footer ul{
    list-style: none;
    padding: 0;
}

.item-footer li{
    margin-bottom: 10px;
}

.item-footer{
    margin: auto;
}

footer h4{
    font-size: 18px;
}